.idea
*.iml
npm-debug.log
dump.rdb
node_modules
results.tap
results.xml
npm-shrinkwrap.json
.DS_Store
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
/.tmp/
/.sass-cache/
/lib/assets/
/lib/assets-dev/static/bower_components/
/lib/assets-dev/static/css/*.css
/lib/assets-dev/static/css/*.map
