{% extends './layouts/default.html' %}

{% block content %}

<div class="container">

  <h1>DeviceLab</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Create BrowserSync Proxy</div>
    <div class="panel-body">
      <form action="/" method="POST" class="form-horizontal">
        <div class="form-group">
          <label for="urlProxy" class="col-sm-2 control-label">Proxy URL:</label>
          <div class="col-sm-10">
            <input type="string" class="form-control" id="urlProxy" name="urlProxy" placeholder="URL" value="{$ urlProxy $}">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  {% if urlDashboard %}
  <div class="panel panel-default">
    <div class="panel-heading">URLs</div>
    <div class="panel-body">

    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Dashboard URL:</label>
        <div class="col-sm-10">
          <a href="{$ urlDashboard $}">{$ urlDashboard $}</a>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Redirect URL:</label>
        <div class="col-sm-10">
          <a href="{$ urlRedirect $}">{$ urlRedirect $}</a>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Bookmark URL:</label>
        <div class="col-sm-10">

          <a href="{$ urlBookmark $}">{$ urlBookmark $}</a><br/><br/>

          <img src="http://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data={$ urlBookmark $}&qzone=1&margin=0&size=200x200&ecc=L" alt="qr code" />
        </div>
      </div>
    </div>

    </div>
  </div>
  {% endif %}

</div>



{% endblock %}
